* {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

#adminPage {
background-image: url("/src/img/adminBackground.jpg");
background-size: cover;
background-position: top;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#menuToggle {
    display: none;
    float: right;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    border-style: none;
    padding: 12px;
    font-size: 3em;
    line-height: 25px;
    border-radius: 4px;
}

#menuToggle:hover {
    background-color: #ddd;
    color: black;
}

#mobileMenu {
    z-index: 4;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    transition: width 0.3s;
}

#mobileMenu button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: whitesmoke;
    font-size: 3em;
    margin-left: 5vw;
    margin-top: 5vw;
    transition: 0.3s;
    border-radius: 4px;
}

#mobileMenu button:hover {
    background-color: #ddd;
    color: black;
}

#mobileMenu a {
    color: whitesmoke;
    display: block;
    margin-left: 10vw;
    padding: 10px;
    font-size: 2.0em;
    font-weight: 400;
    text-decoration: none;
    transition: 0.3s;
}

#mobileMenu a:hover {
    background-color: #ddd;
    color: black;
}

.header {
    z-index: 3;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.95);
    padding: 20px 10px;
    box-sizing: border-box;
}

.header .link {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header .notActive:hover {
    background-color: #ddd;
    color: black;
}

a img {
    height: 40px;
    padding: 0;
    transition: transform 0.2s;
}

a img:hover {
    transform: scale(1.1, 1.1);
}

.header a.active {
    background-image: url('/src/img/rice.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    color: black;
}

.header-right {
    float: right;
}

#top-margin {
    height: 90px;
    width: 100vw;
    background-color: rgb(0, 0, 0);
}

#gridContainer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
}

#introText {
    grid-area: 1/1/3/4;
    background-color: black;
    height: 300px;
}

#h2Intro {
    color: whitesmoke;
    width: 60%;
    font-size: 2.4em;
}

#textIntro {
    color: whitesmoke;
    width: 60%;
    text-align: left;
    padding: 1em 2em;
    line-height: 1.6em;
    font-size: 1.6em;
}

#headerImg {
    grid-area: 1/3/2/5;
    background-image: url('/src/img/Sushi\ header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 30px black;
    width: 100%;
    height: 300px;
}

#black {
    grid-area: 2/1/3/5;
    overflow: hidden;
    background-color: black;
    width: 100%;
    height: 50px;
}

#trayImg {
    grid-area: 4/1/5/3;
    text-align: center;
}

#trayImg img {
    width: 80%;
    margin-bottom: 50px;
    box-shadow: 0 0 10px #3a3a3a;
}

#shopImg {
    grid-area: 5/1/6/5;
    position: relative;
}

#shopImg img {
    width: 100%;
    z-index: 1;
}

#shopRubrik {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    font-size: 5vw;
    z-index: 2;
    color: whitesmoke;
    grid-area: 5/1;
}


#aboutUs {
    grid-area: 4/3/5/5;
}

#aboutUs h2 {
    font-size: 2.8em;
}

#aboutUs p {
    font-size: 1.6em;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 400px;
    line-height: 1.6em;
}

#menu {
    grid-area: 3/1/4/5;
    width: 80%;
    max-width: 900px;
    height: auto;
    margin: 100px auto;
    background-image: url("/src/img/rice\ menu\ big.jpg");
    background-position: top;
    background-size: 900px;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    border-top-right-radius: 30px;
    font-size: 1.6em;

}

#menuFormAdmin {
    width: 95%;
    max-width: 400px;
    margin: 50 auto;
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#menuContainerAdmin {
    display: grid;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 100px;
    grid-template-columns: 5% 30% 30% 30% 5%;
    max-width: 900px;
    background-color: rgba(58, 58, 58, 0.8);
    border-radius: 15px;
}

#menuAdmin h2 {
    grid-area: 1/1/2/6;
    font-size: 2.8em;
}

#menuAdmin #matRubrik {
    grid-area: 2/2/3/3;
    text-align: center;
    font-size: 2.4em;
    color: whitesmoke;
}
#menuAdmin #dryckRubrik {
    grid-area: 2/3/3/4;
    text-align: center;
    font-size: 2.4em;
    color: whitesmoke;

}
#menuAdmin #dessertRubrik {
    grid-area: 2/4/3/5;
    text-align: center;
    font-size: 2.4em;
    color: whitesmoke;

}

.matAdmin {
    grid-area: 3/2/4/3;
}

.dryckAdmin {
    grid-area: 3/3/4/4;
}

.dessertAdmin {
    grid-area: 3/4/4/5;
}

#menuContainerAdmin article{
    background-color: rgba(245, 245, 245, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 5px;
    padding: 15px;
    font-size: 1.6em;
}

#menuContainerAdmin button{
    background-color: #3a3a3a;
    border: none;
    outline: none;
    cursor: pointer;
    color: whitesmoke;
    border-radius: 10px;
    padding: 14px 10px;
    transition: 0.3s;
    margin-bottom: 5px;
    font-size: 17px;
}

#menuContainerAdmin button:hover {
    background-color: #c20000;
}

#menuContainerAdmin input{
    font-size: 1rem;
}

#menu h2 {
    color: #3a3a3a;
    font-size: 2.8em;
    font-weight: 100;
}

#menuContainer {
    display: flex;
}

.tabs {
    overflow: hidden;
    background-color: #3a3a3a;
    text-align: center;
    margin: 0 auto;
}

.tabs button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    color: whitesmoke;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tabs button:hover {
    background-color: #c20000;
}

.tabs button.active {
    background-color: #ccc;
    color: black;
}

.tabcontent {
    display: none;
    padding: 20px;
    border-top: none;
    background-image: none;
    width: 100%;
}

.tabcontent h4 {
    font-size: 2em;
}

.tabcontent article {
    display: inline-block;
    height: 180px;
    background: rgba(245, 245, 245, 0.9);
    padding: 5px;
    padding-bottom: 0;
    margin: 1%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 48%;
    box-sizing: border-box;
}

#findUs {
    margin-bottom: 50px;
}

#findUs h2 {
    font-size: 2.8em;
}

#findUs p {
    font-size: 1.6em;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
    line-height: 1.6em;
}

#map {
    height: 30vw;
    width: 50vw;
    margin: 50px auto;
}

footer {
    background-color: black;
    color: whitesmoke;
    height: 90px;
    position: relative;
    text-align: center;
}

footer .logInOutLinks {
    color: whitesmoke;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 1.6em;
}

footer p {
    font-size: 1.6em;
    color: whitesmoke;
}

footer p a {
    color: whitesmoke;
}

#loginBg {
    height: 100vh;
    background-image: url("/src/img/loginArch.jpg");
    background-position: top;
    background-size: cover;
    position: relative;
}

#loginForm {
    background-color: whitesmoke;
    width: 80%;
    max-width: 500px;
    margin: 100px auto;
    border-radius: 10px;
    border-style: solid;
    box-shadow: inset 0 0 10px #3a3a3a, 0 0 10px #3a3a3a;
    padding: 15px;
    min-height: 100px;
    text-align: center;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

label {
    font-size: 1.6em;
}



#loginForm h2 {
    font-size: 2.8em;
}

input {
    font-size: 1.6em;
    width: 200px;
    padding: 5px;
    border-style: none;
    background-color: whitesmoke;
    box-shadow: inset 0 0 5px #3a3a3a;

}

select {
    font-size: 1.6em;
    width: 100px;
    padding: 5px 0;
    border-style: none;
    background-color: whitesmoke;
    box-shadow: inset 0 0 5px #3a3a3a;

}

textarea {
    font-size: 1.6em;
    width: 200px;
    height: 100px;
    padding: 5px 0;
    border-style: none;
    background-color: whitesmoke;
    box-shadow: inset 0 0 5px #3a3a3a;

}

#loginForm button {
    background-color: #3a3a3a;
    border: none;
    outline: none;
    cursor: pointer;
    color: whitesmoke;
    border-radius: 10px;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

#loginForm button:hover {
    background-color: #c20000;
}

@media screen and (max-width: 750px) {

    .tabcontent article {
        display: block;
        padding-left: 15px;
        width: 90%;
        margin: 5 auto;
        }

        #trayImg {
            grid-area: 4/1/5/5;
            text-align: center;
        }
        
        #trayImg img {
            width: 80%;
            margin-bottom: 50px;
            box-shadow: 0 0 10px #3a3a3a;
        }
        
        #shopImg {
            grid-area: 6/1/7/5;
            position: relative;
        }
        
        #shopImg img {
            width: 100%;
            z-index: 1;
        }
        
        #shopRubrik {
            position: absolute;
            bottom: 0;
            left: 0;
            margin: 20px;
            font-size: 5vw;
            z-index: 2;
            color: whitesmoke;
            grid-area: 6/1;
        }

        #aboutUs {
            grid-area: 5/1/6/5;
        }

        #menuAdmin #matRubrik {
            grid-area: 2/1/3/6;
            text-align: center;
            font-size: 2.4em;
            color: whitesmoke;
        }
        #menuAdmin #dryckRubrik {
            grid-area: 4/1/5/6;
            text-align: center;
            font-size: 2.4em;
            color: whitesmoke;
        
        }
        #menuAdmin #dessertRubrik {
            grid-area: 6/1/7/6;
            text-align: center;
            font-size: 2.4em;
            color: whitesmoke;
        
        }
        
        .matAdmin {
            grid-area: 3/1/4/6;
        }
        
        .dryckAdmin {
            grid-area: 5/1/6/6;
        }
        
        .dessertAdmin {
            grid-area: 7/1/8/6;
        }

}

@media screen and (max-width: 630px) {

    #introText {
        display: block;
        width: 100%;
        grid-area: 2/1/3/5;
        background-color: white;
        color: black;
    }

    #h2Intro {
        color: #3a3a3a;
        margin: 0 auto;
        margin-top: 50px;
        width: 80%;
    }

    #textIntro {
        color: #3a3a3a;
        margin: 0 auto;
        width: 95%;
        max-width: 400px;
        height: auto;
    }

    #headerImg {
        grid-area: 1/1/2/5;
        background-image: url('/src/img/Sushi\ header.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: inset 0 0 30px black, 0 0 30px black;
        width: 100%;
        height: 200px;
    }
    
    #black {
        display: none;
    }

    #menu {
        margin-top: 0;
        width: 90%;
        background-image: url("/src/img/rice\ menu\ small.jpg");
    }

    #menuContainer {
        grid-template-columns: 1fr;
    }


    .header-right {
        display: none;
    }

    #menuToggle {
        display: block;
    }

    .tabcontent article {
        padding-left: 15px;
        width: 100%;
        }

}